$primary-background-colour: #4FF77E
$secondary-background-colour: #346230


$primary-background-colour: #53BA70
$primary-title-colour: #9D3900
$primary-bread-colour: #F79A65

$primary-card-colour: #027523
$secondary-card-colour: #F79A65
$third-card-colour: #F54E00

$primary-card-title-colour: #4FF77E
$primary-card-bread-colour: #4FF77E
$primary-header-background: #26753C

$btn-colour-hover: #5F4C41
$btn-font-colour: #FDE07B
$btn-colour: #FDE07B
$btn-font-colour-hover: #754930


$btn-border-radius: 5px
$btn-width: 180px
$btn-height: 63px
$btn-padding: 0px

$hamburger-colour: #75330D

$primary-footer-colour: #26753C
